altgraph==0.17.4
greenlet==3.0.3
invoke==2.2.0
macholib==1.16.3
packaging==23.2
pyinstaller==6.3.0
pyinstaller-hooks-contrib==2024.0
PySide6==6.6.1
PySide6-Addons==6.6.1
PySide6-Essentials==6.6.1
setuptools==69.0.3
shiboken6==6.6.1
SQLAlchemy==2.0.25
typing_extensions==4.9.0
